
/Project/.vscode
/Project/build
/Project/CMakeFiles
Project/CMakeCache.txt
Project/cmake_install.cmake
Project/compile_commands.json
Project/build.ninja
Project/cmake/stm32cubemx/cmake_install.cmake
